In [1]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
        FROM FACILITIES
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)

In [2]:
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

In [7]:
conn = create_connection("sqlite_db_pythonsqlite.db")
cur = conn.cursor()
query1 = """
        SELECT subq2.name,subq2.revenue from
        (SELECT name,sum(totalcost) as revenue from
        (SELECT f.name,
            CASE WHEN m.memid =0
            THEN f.guestcost * b.slots
            ELSE f.membercost * b.slots
            END AS totalcost
        FROM FACILITIES f
        INNER JOIN Bookings AS b ON f.facid = b.facid
        INNER JOIN Members AS m ON m.memid = b.memid)subq
        group by name) subq2 where subq2.revenue<1000
        order by subq2.revenue
        """
cur.execute(query1) 
rows = cur.fetchall() 
for row in rows:
    print(row)

2.6.0
('Table Tennis', 180)
('Snooker Table', 240)
('Pool Table', 270)

In [10]:
conn = create_connection("sqlite_db_pythonsqlite.db")
cur = conn.cursor()
query1 = """
        SELECT m1.surname||m1.firstname, m2.surname||m2.firstname AS recomName  FROM Members m1
        LEFT JOIN Members m2
        on m1.memid = m2.recommendedby
        """
cur.execute(query1) 
rows = cur.fetchall() 
for row in rows:
    print(row)

2.6.0
('GUESTGUEST', None)
('SmithDarren', 'JopletteJanice')
('SmithDarren', 'ButtersGerald')
('SmithDarren', 'OwenCharles')
('SmithDarren', 'SmithJack')
('SmithDarren', 'MackenzieAnna')
('SmithTracy', 'Worthington-SmythHenry')
('SmithTracy', 'PurviewMillicent')
('SmithTracy', 'CrumpetErica')
('RownamTim', 'BootheTim')
('JopletteJanice', 'DareNancy')
('JopletteJanice', 'JonesDavid')
('ButtersGerald', 'GentingMatthew')
('TracyBurton', 'StibbonsPonder')
('DareNancy', None)
('BootheTim', None)
('StibbonsPonder', 'BakerAnne')
('StibbonsPonder', 'BaderFlorence')
('OwenCharles', None)
('JonesDavid', 'JonesDouglas')
('BakerAnne', None)
('FarrellJemima', 'BakerTimothy')
('FarrellJemima', 'PinkerDavid')
('SmithJack', None)
('BaderFlorence', 'SarwinRamnaresh')
('BakerTimothy', 'CoplinJoan')
('PinkerDavid', None)
('GentingMatthew', 'RumneyHenrietta')
('MackenzieAnna', None)
('CoplinJoan', None)
('SarwinRamnaresh', None)
('JonesDouglas', None)
('RumneyHenrietta', None)
('FarrellDavid', None)
('Worthington-SmythHenry', None)
('PurviewMillicent', 'HuntJohn')
('TupperwareHyacinth', None)
('HuntJohn', None)
('CrumpetErica', None)
('SmithDarren', None)

In [28]:
conn = create_connection("sqlite_db_pythonsqlite.db")
cur = conn.cursor()
query1 = """
        SELECT  subq.name,sum(subq.totalcost) as revenue
        FROM 
        (SELECT f.name,
             CASE WHEN m.memid =0
            THEN f.guestcost * b.slots
            ELSE f.membercost * b.slots
            END AS totalcost
        FROM FACILITIES f
        INNER JOIN Bookings AS b ON f.facid = b.facid
        INNER JOIN Members AS m ON m.memid = b.memid where m.memid>0 )subq
        group by name  
        
        """
cur.execute(query1) 
rows = cur.fetchall() 
for row in rows:
    print(row)

2.6.0
('Badminton Court', 0)
('Massage Room 1', 8751.600000000031)
('Massage Room 2', 534.6000000000001)
('Pool Table', 0)
('Snooker Table', 0)
('Squash Court', 1463.0)
('Table Tennis', 0)
('Tennis Court 1', 4785)
('Tennis Court 2', 4410)

In [31]:
  
conn = create_connection("sqlite_db_pythonsqlite.db")
cur = conn.cursor()
query1 = """
        SELECT  strftime('%m', subq.starttime) as month,sum(subq.totalcost) as revenue
        FROM 
        (SELECT f.name,b.starttime,
             CASE WHEN m.memid =0
            THEN f.guestcost * b.slots
            ELSE f.membercost * b.slots
            END AS totalcost
        FROM FACILITIES f
        INNER JOIN Bookings AS b ON f.facid = b.facid
        INNER JOIN Members AS m ON m.memid = b.memid where m.memid>0 )subq
        group by month  
        
        """
cur.execute(query1) 
rows = cur.fetchall() 
for row in rows:
    print(row)

2.6.0
('07', 3517.600000000003)
('08', 7370.600000000021)
('09', 9056.000000000007)